irssi/config
emacs.d/backups
emacs.d/auto-save-list
nvim/backup
nvim/plugged
nvim/swap
nvim/undo
*.elc
config/fish/fishd*
config/configstore/
config/gcloud/
config/gocode/

# Secrets to backup separately
gnupg/
